
  <div id="up-to-top" class="row">
    <div class="small-12 columns" style="text-align: right;">
      <a class="iconfont" href="#top-of-page"></a>
    </div>
  </div>

  <footer id="footer-content" class="bg-grau">
    <div id="footer">
      <div class="row">
        <div class="medium-6 large-5 columns">
          <h5 class="shadow-black">About This Site</h5>
          <p class="shadow-black">
            Software Carpentry is volunteer non-profit organization dedicated to teaching basic computing skills to researchers.
            <a href="http://dev.software-carpentry.org/about/">More ›</a>
          </p>
        </div>
        <div class="medium-6 large-5 columns">
          <ul class="inline-list">
            <li><a class="label swc-blue-bg" href="LICENSE.html">License</a></li>
            <li><a class="label swc-blue-bg" href="{{site.swc_blog}}">Blog</a></li>
            <li><a class="label swc-blue-bg" href="{{site.swc_github}}">GitHub</a></li>
            <li><a class="label swc-blue-bg" href="{{site.swc_twitter}}">Twitter</a></li>
            <li><a class="label swc-blue-bg" href="{{site.workshop_repo}}/issues/">Issues</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% include newincludes/javascript.html %}
