Aron Ahmadia <aron@ahmadia.net>
Phillip Alderman <phillip.d.alderman@gmail.com>
James Allen <james@sharelatex.com> <jamesallen0108@gmail.com>
Piotr Banaszkiewicz <piotr@banaszkiewicz.org>
Pauline Barmby <pbarmby@uwo.ca>
Radovan Bast <bast@users.noreply.github.com>
Olga Botvinnik <olga.botvinnik@gmail.com>
Andy Boughton <pchemist@gmail.com>
Erik M. Bray <embray@stsci.edu>
Amy Brown <arbrown@latte.ca>
C. Titus Brown <titus@idyll.org>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Greg Caporaso <gregcaporaso@gmail.com>
Neal Davis <davisneale@gmail.com>
Matt Davis <jiffyclub@gmail.com>
Gabriel A. Devenyi <gdevenyi@gmail.com>
Jonah Duckles <jonah@duckles.org> <jonahd@gmail.com>
Rémi Emonet <remi@heeere.com> <remi.emonet@univ-st-etienne.fr>
Ivan Gonzalez <iglpdc@gmail.com>
John Gosset <john.gosset@gmail.com>
Alistair Grant <alistair.grant@ed.ac.uk>
Thomas Guignard <tom@timtom.ch>
Michael Hansen <hansen.mike@gmail.com>
Konrad Hinsen <research@khinsen.fastmail.net>
Xavier Ho <contact@xavierho.com>
Damien Irving <damien_irving@yahoo.com.au>
Mike Jackson <michaelj@epcc.ed.ac.uk>
Ben Jolly <bhjolly@gmail.com>
Jan T. Kim <jan.kim@pirbright.ac.uk>
W. Trevor King <wking@tremily.us>
David LeBauer <dlebauer@gmail.com>
Joona Lehtomäki <joona.lehtomaki@gmail.com>
Sheldon McKay <sheldon.mckay@gmail.com>
Lauren Michael <lmichael@wisc.edu>
François Michonneau <francois.michonneau@gmail.com>
Bill Mills <mills.wj@gmail.com>
Lex Nederbragt <lex.nederbragt@bio.uio.no>
Aaron O'Leary <aaron.oleary@gmail.com>
Jeramia Ory <jeramia.ory@gmail.com>
Fernando Perez <Fernando.Perez@berkeley.edu>
Jon Pipitone <jon.pipitone@utoronto.ca>
Timothée Poisot <t.poisot@gmail.com> <tim@poisotlab.io>
Leighton Pritchard <leightonpritchard@mac.com>
Andrey Prokopenko <aprokop@sandia.gov>
Scott Ritchie <sritchie73@gmail.com>
Maneesha Sane <ahseenam@gmail.com> <ahseenam@gmail.com>
Raniere Silva <ra092767@ime.unicamp.br> <raniere@ime.unicamp.br> <raniere@rgaiacs.com>
Arfon Smith <arfon.smith@gmail.com>
Ashwin Srinath <ashwinsrnth@gmail.com>
Sarah Stevens <sstevens2@wisc.edu>
Julia Stewart Lowndes <jstewart@nceas.ucsb.edu>
Tracy Teal <tracyt@idyll.org>
Olav Vahtras <vahtras@kth.se>
Roman Valls Guimera <brainstorm@nopcode.org>
Philipp Von Bieberstein <pbieberstein@email.arizona.edu>
Andrew Walker <a.walker@leeds.ac.uk> <andrew.walker@bristol.ac.uk>
Ben Waugh <b.waugh@ucl.ac.uk>
Ethan White <ethan@weecology.org>
Tyson Whitehead <twhitehead@gmail.com>
Jason Williams <JasonJWilliamsNY@gmail.com>
Carol Willing <carolcode@willingconsulting.com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Tom Wright <tom@maladmin.com>
Nick Young <nick.young@auckland.ac.nz>
Lee Zamparo <zamparo@gmail.com>
Andrea Zonca <code@andreazonca.com>
