Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Amy Brown <amyrhoda@gmail.com> <arbrown@latte.ca>
Andrew Walker <a.walker@leeds.ac.uk> <andrew.walker@bristol.ac.uk>
Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Ben Jolly <bhjolly@gmail.com>
Erin Becker <erinstellabecker@gmail.com>
Evan P. Williamson <evanpeterw@gmail.com>
François Michonneau <francois.michonneau@gmail.com>
François Michonneau <francois.michonneau@gmail.com> <francois.michonneau@gmail.Com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
James Allen <james@sharelatex.com> <jamesallen0108@gmail.com>
Jonah Duckles <jonah@duckles.org> <jonahd@gmail.com>
Jonathan Cooper <j.p.cooper@ucl.ac.uk> <github.com@jonc.me.uk>
Lauren Michael <lmichael@wisc.edu>
Leighton Pritchard <leightonpritchard@mac.com>
Lex Nederbragt <lex.nederbragt@bio.uio.no> <lex.nederbragt@ibv.uio.no>
Maneesha Sane <ahseenam@gmail.com>
Marianna Foos <mfoos@users.noreply.github.com>
Maxim Belkin <maxim.belkin@gmail.com> <maxim-belkin@users.noreply.github.com>
Mike Jackson <m.jackson@software.ac.uk> <michaelj@epcc.ed.ac.uk>
Neal Davis <davis68@illinois.edu> <davisneale@gmail.com>
Pauline Barmby <pbarmby@uwo.ca>
Philipp Von Bieberstein <pbieberstein@email.arizona.edu>
Raniere Silva <raniere@rgaiacs.com> <ra092767@ime.unicamp.br>
Raniere Silva <raniere@rgaiacs.com> <raniere@ime.unicamp.br>
Rémi Emonet <remi@heeere.com> <remi.emonet@reverse--com.heeere>
Rémi Emonet <remi@heeere.com> <twitwi@users.noreply.github.com>
Sarah Stevens <ssteven2@wisc.edu> <sstevens2@wisc.edu>
Timothée Poisot <t.poisot@gmail.com> <tim@poisotlab.io>
Yashasvi Girdhar <yash.girdhar@gmail.com>
