{% comment %}
Fill in the schedule for your incubator workshop below, based on the Data Carpentry Example.

The schedule would likely be different depending on the incubator curriculum.

Fill in specific times for each section, or use the below example for morning and afternoon sessions with breaks in between.

Make sure you keep the links to the pre- and post-workshop surveys!
{% endcomment %}

<div class="row">
  <div class="col-md-6">
    <h5>Day 1</h5>
    <table class="table table-striped">
        <tr><td>Before starting</td><td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td></tr>
        <tr><td>Morning</td><td><a href="https://datacarpentry.org/image-processing/01-introduction.html">Introduction</a></td></tr>
        <tr><td></td><td><a href="https://datacarpentry.org/image-processing/02-image-basics.html">Image Basics</a></td></tr>
        <tr><td>10:30 am</td><td>Break</td></tr>
        <tr><td></td><td><a href="https://datacarpentry.org/image-processing/03-skimage-images.html">Working with skimage</a></td></tr>
        <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/image-processing/04-drawing.html">Drawing and Bitwise Operations</a></td></tr>
        <tr><td>2:30 pm</td><td>Break</td></tr>
        <tr><td></td><td><a href="https://datacarpentry.org/image-processing/05-creating-histograms.html">Creating Histograms</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h5>Day 2</h5>
    <table class="table table-striped">
      <tr><td>Morning</td><td><a href="https://datacarpentry.org/image-processing/06-blurring.html">Blurring Images</a></td></tr>
      <tr><td>10:30 am</td><td>Break</td></tr>
      <tr><td></td><td><a href="https://datacarpentry.org/image-processing/07-thresholding.html">Thresholding</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/image-processing/08-connected-components.html">Connected Component Analysis</a></td></tr>
      <tr><td>2:30 pm</td><td>Break</td></tr>
      <tr><td></td><td><a href="https://datacarpentry.org/image-processing/09-challenges.html">Capstone Challenge</a></td></tr>
      <tr><td>After finishing</td><td><a href="{{ site.incubator_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td></tr>
      <tr><td></td><td> END </td></tr>
    </table>
  </div>
</div>
