<div id="up-to-top" class="row">
  <div class="small-12 columns" style="text-align: right;">
    <a class="iconfont" href="#top-of-page">&#xf108;</a>
  </div>
</div>
<footer class="main-footer shadow-black">
    <div class="row">
      <div class="medium-5 columns">
        <p>
          {{ site.footerDescription }}
          <a href="{{ site.ParentDomainUrl }}/about">More</a>
        </p>
      </div>
      <div class="medium-4 columns">
          <ul class="inline-list social-icons">
          {% for social_item in site.socialmedia %}
            <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
          {% endfor %}
          </ul>
      </div>
      <div class="medium-3 columns">
        <ul class="no-bullet shadow-black">
          {% for service_item in site.services %}
              <li>
                <a href="{{ site.ParentDomainUrl }}{{ service_item.url }}"  title="{{ service_item.title }}">{{ service_item.name }}</a>
              </li>
          {% endfor %}
        </ul>
      </div>
    </div>
</footer>
