  <div id="navigation">
    <nav class="top-bar show-for-small-only" role="navigation" data-topbar="">
      <ul class="title-area">
        <li class="name">
        <h1 class=""><a href="http://dev.software-carpentry.org"> Software Carpentry</a></h1>
      </li>
      </ul>
    </nav>
  </div>
  <div id="masthead-no-image-header">
    <div class="row">
      <div class="small-6 columns">
        <a id="logo" href="http://dev.software-carpentry.org" title="Software Carpentry – Teaching Lab Skills for Scientific Computing">
          <img src="http://swctasks.github.io/styles/assets/img/swc/swc-logo-white.svg" alt="Software Carpentry – Teaching Lab Skills for Scientific Computing">
        </a>
      </div>
      <div class="small-6 columns">
        <h3 class="masthead">Teaching basic lab skills<br/>for research computing</h3>
      </div>
    </div>
  </div>
