  <div id="navigation">
    <nav class="top-bar show-for-small-only" role="navigation" data-topbar="">
      <ul class="title-area">
        <li class="name">
        <h1 class=""><a href="{{ site.parent_domain }}">Software Carpentry</a></h1>
      </li>
      </ul>
    </nav>
  </div>
  <div id="masthead-no-image-header">
    <div class="row">
      <div class="small-6 columns">
        <a id="logo" href="{{ site.parent_domain }}" title="Teaching basic lab skills for research computing">
          <img src="{{ site.baseurl }}/assets/img/swc/{{ site.logo }}" alt="Teaching basic lab skills for research computing">
        </a>
      </div>
      <div class="small-6 columns">
        <h3 class="masthead">Teaching basic lab skills<br/>for research computing</h3>
      </div>
    </div>
  </div>
