{% comment %}Must use 'assign' (to get variable value) rather than 'capture' (which gives text expansion){% endcomment %}
{% if site.project_type == 'dc' %}{% assign project = site.data.dc %}{% endif %}
{% if site.project_type == 'swc' %}{% assign project = site.data.swc %}{% endif %}
<!--
in head.html
project = {{project}}
project.twitter = {{project.twitter}}
-->
  <meta charset="utf-8" />
  <title>Software Carpentry: {{ page.venue }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{ project.parent_domain }}/favicon.ico"><!-- must remain in your root directory -->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/swc-workshop.css" />
  <script src="{{ site.baseurl }}/assets/js/modernizr.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>WebFont.load({ google: { families: [ 'Lato:400,700,400italic:latin', 'Volkhov::latin' ] } });</script>
  <noscript>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Volkhov' rel='stylesheet' type='text/css' />
  </noscript>
  <meta name="description" content="Software Carpentry is volunteer non-profit organization dedicated to teaching basic computing skills to researchers." />
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
