{% comment %}
  Lesson navigation bar.
{% endcomment %}

{% include gh_variables.html %}
{% include manual_episode_order.html %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    {% comment %} Select what logo to display. {% endcomment %}
    {% if site.carpentry == "swc" %}
      <a href="{{ site.swc_site }}" class="pull-left">
        <img class="navbar-logo" src="{{ relative_root_path }}{% link /assets/img/swc-icon-blue.svg %}" alt="Software Carpentry logo" />
      </a>
    {% elsif site.carpentry == "dc" %}
      <a href="{{ site.dc_site }}" class="pull-left">
        <img class="navbar-logo" src="{{ relative_root_path }}{% link /assets/img/dc-icon-black.svg %}" alt="Data Carpentry logo" />
      </a>
    {% elsif site.carpentry == "lc" %}
      <a href="{{ site.lc_site }}" class="pull-left">
        <img class="navbar-logo" src="{{ relative_root_path }}{% link /assets/img/lc-icon-black.svg %}" alt="Library Carpentry logo" />
      </a>
    {% elsif site.carpentry == "cp" %}
      <a href="{{ site.carpentries_site }}" class="pull-left">
        <img class="navbar-logo" src="{{ relative_root_path }}{% link /assets/img/cp-logo-blue.svg %}" alt="The Carpentries logo" />
      </a>
    {% elsif site.carpentry == "incubator" %}
      <a href="{{ site.incubator_lesson_site }}" class="pull-left">
        <img class="navbar-logo" src="{{ relative_root_path }}{% link /assets/img/incubator-logo-blue.svg %}" alt="The Carpentries Incubator logo" />
    {% elsif site.carpentry == "lab" %}
      <a href="{{ relative_root_path }}{% link index.md %}" class="pull-left">
        <img class="navbar-logo" src="{{ relative_root_path }}{% link /assets/img/carpentrieslab.svg %}" alt="The Carpentries Lab" />
      </a>
    {% endif %}

    {% comment %} Always show link to home page. {% endcomment %}
    <a class="navbar-brand" href="{{ relative_root_path }}{% link index.md %}">Home</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"">

	    {% comment %} Always show code of conduct. {% endcomment %}
        <li class="nav-item"><a class="nav-link" href="{{ relative_root_path }}{% link CODE_OF_CONDUCT.md %}">Code of Conduct</a></li>

        {% if site.kind == "lesson" %}
	        {% comment %} Show setup instructions. {% endcomment %}
            <li class="nav-item"><a class="nav-link" href="{{ relative_root_path }}{% link setup.md %}">Setup</a></li>

            {% comment %} Show lesson episodes for lessons. {% endcomment %}
            {% if lesson_episodes.size > 0 %}
            <li class="nav-item dropdown">
            <a href="{{ relative_root_path }}/" class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Episodes <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for lesson_episode in lesson_episodes %}
                {% if site.episode_order %}
                {% assign episode = site.episodes | where: "slug", lesson_episode | first %}
                {% else %}
                {% assign episode = lesson_episode %}
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{{ relative_root_path }}{{ episode.url }}">{{ episode.title }}</a></li>
                {% endfor %}
            <li role="separator" class="divider"></li>
                <li class="nav-item"><a class="nav-link" href="{{ relative_root_path }}{% link aio.md %}">All in one page (Beta)</a></li>
            </ul>
            </li>
            {% endif %}
	    {% endif %}

	    {% comment %} Show extras for lessons or if this is the main workshop-template repo (where they contain documentation). {% endcomment %}
	    {% if site.kind == "lesson" %}
        <li class="nav-item dropdown">
          <a href="{{ relative_root_path }}/" class="nav-link dropdown-toggle" id="navbarDropdownExtras" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Extras <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownExtras">
            <li class="nav-item"><a class="nav-link" href="{{ relative_root_path }}{% link reference.md %}">Reference</a></li>
            {% for lesson_extra in lesson_extras %}
            {% if site.extras_order %}
              {% assign extra = site.extras | where: "slug", lesson_extra | first %}
            {% else %}
              {% assign extra = lesson_extra %}
            {% endif %}
            {% unless extra.exclude %}
              <li class="nav-item"><a class="nav-link" href="{{ relative_root_path }}{{ extra.url }}">{{ extra.title }}</a></li>
            {% endunless %}
            {% endfor %}
          </ul>
        </li>
	    {% endif %}

	    {% comment %} Always show license. {% endcomment %}
        <li class="nav-item"><a class="nav-link" href="{{ relative_root_path }}{% link LICENSE.md %}">License</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.zeffy.com/en-US/donation-form/donate-to-make-a-difference-7497?utm_source=workshop-website">Donate {{repo_url}}</a></li>

        {% if site.life_cycle == 'transition-step-1' %}
          {% assign improve_repo_url = repo_url %}
        {% elsif page.source == "Rmd" %}
          {% assign improve_repo_url = repo_url | append: "/edit/" | append: default_branch | append: "/" | append: page.path | replace: "_episodes", "_episodes_rmd" | replace: ".md", ".Rmd" %}
        {% else %}
          {% assign improve_repo_url = repo_url | append: "/edit/" | append: default_branch | append: "/" | append: page.path %}
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{{improve_repo_url}}" data-checker-ignore>Improve this page
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
            </svg>
          </a>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search" id="search" onsubmit="google_search(); return false;">
        <div class="form-group">
          <input type="text" title="Google search" id="google-search" placeholder="Search..." aria-label="Google site search">
        </div>
      </form>
    </div>
  </div>
</nav>
