{% comment %}
For 2-day all-day events, the end date needs to be a day later.
from here: https://stackoverflow.com/a/37659516/1113276
{% endcomment %}

{% assign final_day = info.enddate | date: '%s' | plus:86400 | date: '%F' | replace: "-", "" %}

<a href="//calendar.google.com/calendar/render?action=TEMPLATE&text={% if info.carpentry == "swc" %}Software{% elsif info.carpentry == "lc" %}Library{% elsif info.carpentry == "dc" %}Data{% endif %} Carpentry Workshop&dates={{ info.startdate   | replace: "-", "" }}/{{ final_day }}&trp=false&sprop&sprop=name:&sf=true&output=xml&location={{ info.address }}&details={% if info.carpentry == "swc" %}Software{% elsif info.carpentry == "lc" %}Library{% elsif info.carpentry == "dc" %}Data{% endif %} Carpentry Workshop at {{ info.venue }}">Add to your Google Calendar.</a>
