{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}

{% assign begin_address = page.address | slice: 0, 4 | downcase  %}
{% if page.address == "online" %}
{% assign online = "true_private" %}
{% elsif begin_address contains "http" %}
{% assign online = "true_public" %}
{% else %}
{% assign online = "false" %}
{% endif %}

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <div class="row">
      {% unless site.title == "Workshop Title" or site.title == "" %}
      <h1 class="display-5 fw-bold">{{site.title}}</h1>
      {% endunless %}
      <h2>{{page.venue}}</h2>
    </div>
    <div class="row">
    <div class="col-md-6">
        {% if online == "true_public" %}
        <p>Online (<a href="{{page.address}}">link</a>)</p>
        {% elsif online == "true_private" %}
        <p>Online</p>
        {% endif %}
        <p>{{page.humandate}}</p>
        <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
    </div>
    <div class="col-md-6">
        <p>
        <strong>Instructors:</strong>
        {% if page.instructor %}
        {{page.instructor | join: ', ' %}}
        {% else %}
        to be announced.
        {% endif %}
        </p>
        {% if page.helper %}
        <p>
        <strong>Helpers:</strong>
        {{page.helper | join: ', ' %}}
        </p>
        {% endif %}
    </div>
    </div>
  </div>
</div>
