{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}

{% assign begin_address = page.address | slice: 0, 4 | downcase  %}
{% if page.address == "online" %}
{% assign online = "true_private" %}
{% elsif begin_address contains "http" %}
{% assign online = "true_public" %}
{% else %}
{% assign online = "false" %}
{% endif %}

<div class="jumbotron">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {% unless site.title == "Workshop Title" or site.title == "" %}
      <h2>{{site.title}}</h1>
      {% endunless %}
      <h2>{{page.venue}}</h2>
      <div class="row">
        <div class="col-md-6">
          {% if online == "true_public" %}
          <p><a href="{{site.address}}">Online</a></p>
          {% elsif online == "true_private" %}
          <p>Online</p>
          {% endif %}
          <p>{{page.humandate}}</p>
          <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
        </div>
        <div class="col-md-6">
          <p>
          <strong>Instructors:</strong>
          {% if page.instructor %}
          {{page.instructor | join: ', ' %}}
          {% else %}
          to be announced.
          {% endif %}
          </p>
          {% if page.helper %}
          <p>
          <strong>Helpers:</strong>
          {{page.helper | join: ', ' %}}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
