{% comment %}
  Footer for a standard workshop.
{% endcomment %}
{% comment %}
  Assign first row in data file as info to access workshop data
{% endcomment %}
{% assign info = site.data.data[0] %}
<footer>
  <hr/>
  <div class="row">
    <div class="col-md-6" align="left">
      <h4>
	Copyright &copy; 2016–{{ 'now' | date: "%Y" }}
	{% if info.carpentry == "swc" %}
	<a href="{{ site.swc_site }}">Software Carpentry</a>
	{% elsif info.carpentry == "dc" %}
	<a href="{{ site.dc_site }}">Data Carpentry</a>
	{% elsif info.carpentry == "lc" %}
	<a href="{{ site.lc_site }}">Library Carpentry</a>
	{% elsif info.carpentry == "cp" %}
	<a href="{{ site.carpentries_site }}">The Carpentries</a>
        {% elsif info.carpentry == "ds" %}
        <a href="{{ site.carpentries_site }}">The Carpentries</a>
	{% endif %}
      </h4>
    </div>
    <div class="col-md-6" align="right">
      <h4>
        {% if info.carpentry == "ds" %}
        <a href="mailto:{{ site.email }}">Contact The Training Team</a>
        {% else %}
	<a href="mailto:{{ site.email_carpentries }}">Contact The Carpentries</a>
        {% endif %}
      </h4>
    </div>
  </div>
</footer>
