{% comment %}
PRETIX.eu

This block includes the pretix registration widget if
'pretix' has been set in the header.  You can delete it if you
are not using Pretix, or leave it in, since it will not be
displayed if the 'pretix' field in the header is not set.
{% endcomment %}
{% if page.pretix %}
<strong>Some adblockers block the registration window. If you do not see the
  registration box below, please check your adblocker settings or visit  <a href="https://pretix.eu/{{page.pretix}}/" target="_blank">the booking website</a> directly.</strong>
<div class="pretix-widget-compat" event="https://pretix.eu/{{page.pretix}}/" single-item-select="button"></div>
<noscript>
   <div class="pretix-widget">
        <div class="pretix-widget-info-message">
                JavaScript is disabled in your browser. To access our ticket shop without JavaScript, please <a target="_blank" rel="noopener" href="https://pretix.eu/{{page.pretix}}/">click here</a>.
                </div>
    </div>
</noscript>
{% endif %}
