---
---
<!DOCTYPE html>
<!--
  Use this layout for generic pages in the workshop website.
  Use 'workshop.html' for the workshop home page.
-->
<html>
  <head>
    <title>Software Carpentry: {{ page.venue }}</title>
    {% include header.html %}
  </head>
  <body class="workshop">

    {% include github-ribbon.html %}

    <div class="container card">
      {% include banner.html %}
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          {{content}}
          {% include footer.html %}
        </div>
       </div>
    </div>
    {% include javascript.html %}
  </body>
</html>
