---
---
{% include base_path.html %}
{% include gh_variables.html %}

{% comment %}

If the workshop is online, we add ' (online)' after the name of the venue
in the metadata so it's easier for Regional Coordinators to identify
online workshops.

{% endcomment %}
{% comment %}
  Assign first row in data file as info to access workshop data
{% endcomment %}
{% assign info = site.data.data[0] %}

{% assign begin_address = info.address | slice: 0, 4 | downcase  %}
{% if info.address == "online" or begin_address contains "http" %}
{% assign online = " (online)" %}
{% else %}
{% assign online = "" %}
{% endif %}

<!doctype html>
<html lang="en">
  <head>

    <meta name="slug" content="{{info.slug}}" />
    <meta name="startdate" content="{{info.startdate}}" />
    <meta name="enddate" content="{{info.enddate}}" />
    <meta name="humandate" content="{{info.humandate}}" />
    <meta name="country" content="{{info.country}}" />
    <meta name="venue" content="{{info.venue}}{{ online }}" />
    <meta name="address" content="{{info.address}}" />
    <meta name="latlng" content="{{info.latitude}},{{info.longitude}}" />
    <meta name="language" content="{{info.language}}" />
    <meta name="eventbrite" content="{{info.eventbrite}}" />
    <meta name="instructor" content="{{info.instructor|join:'|'}}" />
    <meta name="helper" content="{{info.helper|join:'|'}}" />
    <meta name="contact" content="{{site.email|join:'|'}}" />
    <meta name="carpentry" content="{{info.carpentry}}" />

    <!-- meta "search-domain" used for google site search function google_search() -->
    <meta name="search-domain" value="{{ search_domain_url }}">

    {% if page.redirect %}
    <meta http-equiv="refresh" content="0; url={{page.redirect}}" />
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="last-modified" content="{{ site.time }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ relative_root_path }}/assets/css/bootstrap.css" />

    <link rel="stylesheet" type="text/css" href="{{ relative_root_path }}/assets/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="{{ relative_root_path }}/assets/css/lesson.css" />

    {% include favicons.html %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
    <title>{{ info.venue }}: {{ info.humandate }}</title>
  </head>
  <body>
    <div class="container">
      {% include navbar.html %}
      {% include workshop_ad.html %}
{{ content }}
      {% include workshop_footer.html %}
    </div>
    {% include javascript.html %}
  </body>
</html>
