<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-ecology-spreadsheet">Data Organisation in Spreadsheets</h3>
    <ul>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/00-intro/">Introduction</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/01-format-data/">Formatting Data</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/02-common-mistakes/">Common Formatting Problems</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/03-dates-as-data/">Dates as Data</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/04-quality-control/">Quality Control</a></li>
      <li><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/05-exporting-data/">Exporting Data</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-ecology-openrefine">Data Cleaning with OpenRefine</h3>
    <ul>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/00-getting-started/">Introduction</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/01-working-with-openrefine/">Working with OpenRefine</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/02-filter-exclude-sort/">Filtering and Sorting</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/03-numbers/">Examining Numeric Data</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/04-scripts/">Generating Scripts</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/05-save-export/">Exporting Data</a></li>
      <li><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/06-resources/">Other Resources</a></li>    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-ecology-r">Introduction to R</h3>
    <ul>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/00-before-we-start.html">Overview of R and RStudio</a></li>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R</a></li>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with Data</a></li>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating Data Frames with <code>dplyr</code></a></li>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data Visualisation with <code>ggplot2</code></a></li>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/05-r-and-databases.html">Interacting with Databases with <code>dbplyr</code></a></li>
    </ul>
  </div>
<!--
  <div class="col-md-6">
    <h3 id="syllabus-ecology-python">Introduction to Python</h3>
    <ul>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/00-before-we-start/index.html">Overview of Python</a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html">Starting with Data</a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html">Manipulating Data Frames</a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format/index.html">Data Types and Formats</a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/05-merging-data/index.html">Combining DataFrames</a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/06-loops-and-functions/index.html">Data Workflows and Automation</a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/07-visualization-ggplot-python/index.html">Data Visualisation with <code>plotnine</code></a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/08-putting-it-all-together/index.html">Data Visualisation with <code>matplotlib</code></a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/09-working-with-sql/index.html">Interacting with Databases with <code>pandas</code></a></li>
    </ul>
  </div>
-->
  <div class="col-md-6">
    <h3 id="syllabus-ecology-sql">Data Management with SQL</h3>
    <ul>
      <li><a href="https://datacarpentry.org/sql-ecology-lesson/00-sql-introduction/index.html">Introduction to SQL</a></li>
      <li><a href="https://datacarpentry.org/sql-ecology-lesson/01-sql-basic-queries/index.html">Basic Queries</a></li>
      <li><a href="https://datacarpentry.org/sql-ecology-lesson/02-sql-aggregation/index.html">SQL Aggregation and Aliases</a></li>
      <li><a href="https://datacarpentry.org/sql-ecology-lesson/03-sql-joins/index.html">Joins</a></li>
    </ul>
  </div>

<!--
  <div class="col-md-6">
    <h3 id="syllabus-genomics-project">Project Organization and Management</h3>
    <ul>
      <li><a href="https://datacarpentry.org/organization-genomics/01-tidiness/index.html">Data Tidiness</a></li>
      <li><a href="https://datacarpentry.org/organization-genomics/02-project-planning/index.html">Planning for NGS Projects</a></li>
      <li><a href="https://datacarpentry.org/organization-genomics/03-ncbi-sra/index.html">Examining Data on the NCBI SRA Database</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-genomics-unix">Introduction to the Command Line</h3>
    <ul>
      <li><a href="https://datacarpentry.org/shell-genomics/01-introduction/index.html">Introducing the Shell</a></li>
      <li><a href="https://datacarpentry.org/shell-genomics/02-the-filesystem/index.html">Navigating Files and Directories</a></li>
      <li><a href="https://datacarpentry.org/shell-genomics/03-working-with-files/index.html">Working with Files and Directories</a></li>
      <li><a href="https://datacarpentry.org/shell-genomics/04-redirection/index.html">Redirection</a></li>
      <li><a href="https://datacarpentry.org/shell-genomics/05-writing-scripts/index.html">Writing Scripts</a></li>
      <li><a href="https://datacarpentry.org/shell-genomics/06-organization/index.html">Project Organization</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-genomics-wrangling">Data Wrangling and Processing for Genomics</h3>
    <ul>
      <li><a href="https://datacarpentry.org/wrangling-genomics/00-quality-control/index.html">Assessing Read Quality</a></li>
      <li><a href="https://datacarpentry.org/wrangling-genomics/01-trimming/index.html">Trimming and Filtering</a></li>
      <li><a href="https://datacarpentry.org/wrangling-genomics/02-variant_calling/index.html">Variant Calling Workflow</a></li>
      <li><a href="https://datacarpentry.org/wrangling-genomics/03-automation/index.html">Automating a Variant Calling Workflow</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-genomics-cloud">Introduction to Cloud Computing for Genomics</h3>
    <ul>
      <li><a href="https://datacarpentry.org/cloud-genomics/01-why-cloud-computing/index.html">Why of Cloud Computing</a></li>
      <li><a href="https://datacarpentry.org/cloud-genomics/02-logging-onto-cloud/index.html">Logging onto Cloud</a></li>
      <li><a href="https://datacarpentry.org/cloud-genomics/03-verifying-instance/index.html">Fine Tuning your Cloud Setup</a></li>
      <li><a href="https://datacarpentry.org/cloud-genomics/04-data-roundtripping/index.html">Data Roundtripping</a></li>
      <li><a href="https://datacarpentry.org/cloud-genomics/05-which-cloud/index.html">Which Cloud for my Data?</a></li>
    </ul>
  </div>
-->

<!--
  <div class="col-md-6">
    <h3 id="syllabus-socialsci-spreadsheets">Data Organization in Spreadsheets</h3>
    <ul>
      <li><a href="https://datacarpentry.org/spreadsheets-socialsci/00-intro/index.html">Introduction</a></li>
      <li><a href="https://datacarpentry.org/spreadsheets-socialsci/01-format-data/index.html">Formatting Tables in Spreadsheets</a></li>
      <li><a href="https://datacarpentry.org/spreadsheets-socialsci/02-common-mistakes/index.html">Formatting Problems</a></li>
      <li><a href="https://datacarpentry.org/spreadsheets-socialsci/03-dates-as-data/index.html">Dates as Data</a></li>
      <li><a href="https://datacarpentry.org/spreadsheets-socialsci/04-quality-assurance/index.html">Quality Assurance</a></li>
      <li><a href="https://datacarpentry.org/spreadsheets-socialsci/05-exporting-data/index.html">Exporting Data</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-socialsci-openrefine">Data Cleaning with OpenRefine</h3>
    <ul>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/01-introduction/index.html">Introduction</a></li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/02-working-with-openrefine/index.html">Working with OpenRefine</a></li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/03-filter-sort/index.html">Filtering and Sorting</a></li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/04-numbers/index.html">Examining Numeric Data</a></li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/05-scripts/index.html">Generating Scripts</a></li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/06-saving/index.html">Exporting Data</a></li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/07-resources/index.html">Other Resources</a></li>    
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-socialsci-r">Introduction to R</h3>
    <ul>
      <li><a href="https://datacarpentry.org/r-socialsci/00-intro/index.html">Overview of R and RStudio</a></li>
      <li><a href="https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html">Introduction to R</a></li>
      <li><a href="https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html">Starting with Data</a></li>
      <li><a href="https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html">Manipulating Data Frames with <code>dplyr</code></a></li>
      <li><a href="https://datacarpentry.org/r-socialsci/04-ggplot2/index.html">Data Visualisation with <code>ggplot2</code></a></li>
    </ul>
  </div>
-->


</div>
