{% comment %}
Astronomy workshops
{% endcomment %}


{% if site.curriculum == "dc-astronomy" %}

<p id="who">
  <strong>Who:</strong>
This lesson assumes you have a working knowledge of Python and some previous exposure to the Bash shell.
  These requirements can be fulfilled by:
  a) completing a Software Carpentry Python workshop or
  b) completing a Data Carpentry Ecology workshop (with Python) and a Data Carpentry Genomics workshop or
  c) independent exposure to both Python and the Bash shell.

If you’re unsure whether you have enough experience to participate in this workshop, please read over
  <a href="https://datacarpentry.org/astronomy-python/prereqs/">this detailed list</a>,
  which gives all of the functions, operators, and other concepts you will need to be familiar with.

In addition, this lesson assumes that learners have some familiarity with astronomical concepts,
  including reference frames, proper motion, color-magnitude diagrams, globular clusters, and isochrones.
  Participants should bring their own laptops and plan to participate actively.
</p>

{% comment %}
Image workshops
{% endcomment %}

{% elsif site.curriculum == "dc-image" %}

<p id="who">
  <strong>Who:</strong>
This lesson assumes you have a working knowledge of Python and some previous exposure to the Bash shell.
  These requirements can be fulfilled by:
  a) completing a Software Carpentry Python workshop or
  b) completing a Data Carpentry Ecology workshop (with Python) and a Data Carpentry Genomics workshop or
  c) independent exposure to both Python and the Bash shell.

If you’re unsure whether you have enough experience to participate in this workshop, please read over
  <a href="https://datacarpentry.org/image-processing/prereqs/">this detailed list</a>,
  which gives all of the functions, operators, and other concepts you will need to be familiar with.
</p>

{% comment %}
All other workshops
{% endcomment %}

{% else %}

<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>

{% endif %}
