
/* +++++++++++++++++ Glyphicons from twitter bootstrap +++++++++++++++++ */
$glyphicon-font-path: "../fonts/glyphicon-fonts/" !default;

/* +++++++++++++++++ Glyphicons from twitter bootstrap +++++++++++++++++ */

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('#{$glyphicon-font-path}glyphicons-halflings-regular.eot');
  src: url('#{$glyphicon-font-path}glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('#{$glyphicon-font-path}glyphicons-halflings-regular.woff2') format('woff2'),
       url('#{$glyphicon-font-path}glyphicons-halflings-regular.woff') format('woff'),
       url('#{$glyphicon-font-path}glyphicons-halflings-regular.ttf') format('truetype'),
       url('#{$glyphicon-font-path}glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
