<div id="spreadsheets-setup">
  <h3>Spreadsheet Software</h3>
  <p>
    To interact with spreadsheets, we can use <a href="https://www.libreoffice.org">LibreOffice</a>, 
    <a href="https://products.office.com/en-us/excel">Microsoft Excel</a>, 
    <a href="https://www.gnumeric.org">Gnumeric</a>, 
    <a href="https://www.openoffice.org">OpenOffice.org</a>, 
    or other programs. 
    Commands may differ a bit between programs, but general ideas for thinking about spreadsheets is the same.
  </p>
  <p>
    For this lesson, if you don't have a spreadsheet program already, 
    you can use [LibreOffice](https://www.libreoffice.org). 
    It is a free, open source spreadsheet program.
  </p>
  <h4>Windows</h4>
  <p>
    <ul>
      <li><strong>Download the Installer:</strong>
        Install LibreOffice by going to the 
        <a href="https://www.libreoffice.org/download/libreoffice-fresh/">installation page</a>.
        The version for Windows should automatically be selected. 
        Click <strong>Download</strong>. 
        You will go to a page that asks about a donation, but you don't need to make one. 
        Your download should begin automatically.</li>
      <li><strong>Install LibreOffice:</strong>  
        Once the installer is downloaded, double click on it and it should install.</li>
    </ul>
  </p>
  <h4>Mac OS</h4>
  <p>
    <ul>
      <li><strong>Download the Installer:</strong>
        Install LibreOffice by going to the 
        <a href="https://www.libreoffice.org/download/libreoffice-fresh/">installation page</a>.
        The version for Mac OS should automatically be selected. 
        Click <strong>Download</strong>. 
        You will go to a page that asks about a donation, but you don't need to make one. 
        Your download should begin automatically.</li>
      <li><strong>Install LibreOffice:</strong>  
        The file <code>LibreOffice\_X.X.X\_MacOS\_x86-64</code> (whichever version of LibreOffice you have selected) should have been downloaded. 
        Double click on this file, and LibreOffice will be installed.</li>
    </ul>
  </p>
  <h4>Linux</h4>
  <p>
    <ul>
      <li><strong>Download the Installer:</strong>
        Install LibreOffice by going to the 
        <a href="https://www.libreoffice.org/download/libreoffice-fresh/">installation page</a>.
        The version for Linux should automatically be selected. 
        Click <strong>Download</strong>. 
        You will go to a page that asks about a donation, but you don't need to make one. 
        Your download should begin automatically.</li>
      <li><strong>Install LibreOffice:</strong>  
        Once the installer is downloaded, double click on it and it should install.</li>
    </ul>
  </p>
</div>

<div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <h3>The Bash Shell</h3>
  <p>
    Bash is a commonly-used shell that gives you the power to do simple tasks
    more quickly. Please find setup instructions in
    the <a href="https://librarycarpentry.org/lc-shell/index.html#setup">lesson</a>.
  </p>
</div>

<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is a tool to clean up and organize messy data. Please find instructions to
    install it and the data used in the lesson in the
    <a href="https://librarycarpentry.org/lc-open-refine/">lesson</a>.
  </p>
</div>

<div id="git-setup"> {% comment %} Start of 'Git' section. GitHub browser compatibility
  is given at https://help.github.com/articles/supported-browsers/{% endcomment %}
  <h3>Git</h3>
  <p>
    Git is a version control system that lets you track who made changes
    to what when and has options for easily updating a shared or public
    version of your code
    on <a href="https://github.com/">https://github.com</a>.
  </p>
  <p>
    Follow the instructions on
    the <a href="https://librarycarpentry.org/lc-git/index.html#setup">lesson</a> to
    install Git on your system.
  </p>
  <p>
    You will need an account at <a href="https://github.com/">github.com</a>
    for parts of the Git lesson. Basic GitHub accounts are free. We encourage
    you to create a GitHub account if you don't have one already.
    Please consider what personal information you'd like to reveal. For
    example, you may want to review these
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">instructions
      for keeping your email address private</a> provided at GitHub. You will
      need a
    <a href="https://help.github.com/articles/supported-browsers/">supported
    web browser</a>.
  </p>
</div>
