<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">Introduction to Data</h3>
    <ul>
      <li>Intro to Data</li>
      <li>Jargon Busting</li>
      <li>Keyboard Shortcuts</li>
      <li>Plain Text Formats</li>
      <li>Naming Files</li>
      <li>Regular Expressions</li>
      <li><a href="https://librarycarpentry.github.io/lc-data-intro/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and Directories</li>
      <li>History and Tab Completion</li>
      <li>Counting and Sorting Contents in Files</li>
      <li>Pipes and Redirection</li>
      <li>Mining or Searching in Files</li>
      <li><a href="https://librarycarpentry.github.io/lc-shell/reference">Reference...</a></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Configuring Git</li>
      <li>Recording Changes to Files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing State Changes with <code>status</code></li>
      <li>Working on the Web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Where to Host Work, and Why</li>
      <li><a href="https://librarycarpentry.github.io/lc-git/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-openrefine">OpenRefine</h3>
      <ul>
        <li>Introduction to OpenRefine</li>
        <li>Importing Data</li>
        <li>Basic Functions</li>
        <li>Advanced Functions</li>
        <li><a href="https://librarycarpentry.github.io/lc-open-refine/reference">Reference...</a></li>
      </ul>
    </div>
  </div>
</div>
